# <font color='green'>Jonatã Paulino - Python Fácil</font>
<img src='pimagem5t.png' alt=Jonatã Paulino size=4x4 width=90 height=90 align='left'>

## Variáveis e Operadores em Python

**AVISO!!!** - Para executar o código em uma célula, pressione as teclas **`shift+enter`** ou pressione o `botão` **`Run`** no menu superior

Python é uma linguagem dinamicamente tipada. Isso quer dizer que não é necessário tipar as variáveis para usa-las. Por um processo chamado `binding`, atribui-se um objeto a um nome e este nome incorpora o `tipo de objeto`. Assim para atribuirmos o `2`, ao `valor1`, só precisamos fazer `valor1 = 2`, e `valor1` será automaticamente tipado por python como inteiro.<p>
Para saber qual o tipo de determinado `objeto`, usamos a função `type(objeto)`, que retorna o tipo do `objeto(objeto)`

In [ ]:
# Exemplo
valor1 = 2

In [ ]:
valor1

In [ ]:
# Imprimindo o valor da variável
var_um = 1

In [ ]:
# Imprimindo o valor da variável
print(var_um)

In [ ]:
# Não podemos utilizar uma variável que não foi definida. Veja a mensagem de erro.
my_var

In [ ]:
var_dois = 2

In [ ]:
var_dois

In [ ]:
type(var_dois)

In [ ]:
var_tres = 9.5

In [ ]:
type(var_tres)

In [ ]:
x = 1

In [ ]:
x

## Operadores Relacionais no Python

<!---| Operador|Operação|
|------|------|
|==|Igual|
|>|Maior que|
|<|Menor que|
|!=|Diferente|
| >=|Maior ou Igual|
| <=|Menor ou Igual|--->


<table class="table">
  <thead class="thead-dark">       
    <tr>
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">Operador</th>
        <th scope="col" style="text-align: center;">Operação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row" style="text-align: center;">1</th>
        <td style="text-align: center;">==</td>
        <td style="text-align: center;">Igual</td>
    </tr>
    <tr>
        <th scope="row" style="text-align: center;">2</th>
        <td style="text-align: center;">></td>
        <td style="text-align: center;">Maior que</td>
    </tr>
    <tr>
        <th scope="row" style="text-align: center;">3</th>
        <td style="text-align: center;"><</td>
        <td style="text-align: center;">Menor que</td>
    </tr>
    <tr>
        <th scope="row" style="text-align: center;">4</th>
        <td style="text-align: center;">!=</td>
        <td style="text-align: center;">Diferente</td>
    </tr>
    <tr>
        <th scope="row" style="text-align: center;">5</th>
        <td style="text-align: center;">>=</td>
        <td style="text-align: center;">Maior ou igual</td>
    </tr>
        <tr>
            <th scope="row" style="text-align: center;">6</th>
            <td style="text-align: center;"><=</td>
            <td style="text-align: center;">Menor ou igual</td>
        </tr>
  </tbody>
</table>

>> O resultado de uma comparação é um valor do tipo lógico, ou seja, `True` (verdadeiro) ou `False`(falso).

In [ ]:
# igual
7 == 7

In [ ]:
# maior que
7 > 2

In [ ]:
# menor que
7 < 2

In [ ]:
# diferente de
7 != 8

In [ ]:
# maior ou igual a
7 >= 2

In [ ]:
# menor ou igual a
7 <= 2

## Declaração Múltipla

In [ ]:
nome1, nome2, nome3 = "Maria", "Davi", "Vinícius"

In [ ]:
nome1

In [ ]:
nome2

In [ ]:
nome3

In [ ]:
fruta1 = fruta2 = fruta3 = "Manga"

In [ ]:
fruta1

In [ ]:
fruta2

## <font color='red'>**ATENÇÃO!!!**</font>
<font size=3>Python é case-sensitive. A variável fruta2 com a primeira letra minúscula, não é a mesma coisa que a variável Fruta2 com a primeira letra maiúscula para o Python.</font>

In [ ]:
Fruta2

### Pode-se usar letras, números e underline (mas não se pode começar com números)

In [ ]:
x1 = 75

In [ ]:
x1

In [ ]:
# O Python não permite nomes de variáveis que iniciem com números
1x = 50

### Não se pode usar `palavras reservadas` como nome de variável

Toda linguagem de programação possui suas próprias regras gramaticais, assim como as linguagens que falamos.

* Palavras-chave e identificadores*

Os identificadores a seguir são usados como palavras reservadas ou palavras-chave da linguagem Python e não podem ser usados como identificadores comuns. Eles devem ser digitados exatamente como estão escritos aqui:

<!---|------- | ------ | ------ | ------ | ------|
|:------- | :------ | :------ | :------ | :------|
| false    | class  | finally | is | return |
| None      |continue |for |lambda |try |
| True | def | from | nonlocal | while |
| and | del | global | not| with |
| as | elif | if | or | yield |
| assert | else | import | pass |
| break | except | in | raise |--->

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col" style="text-align: center;">Palávras Reservadas</th>
        <!---<th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">#</th>
    </tr>
  </thead>--->
  <tbody>
    <tr>
        <!---<th scope="row" style="text-align: center;">1</th>--->
        <td style="text-align: center;">False</td>
        <td style="text-align: justify;">class</td>
        <td style="text-align: justify;">finally</td>
        <td style="text-align: justify;">is</td>
        <td style="text-align: justify;">return</td>
    </tr>
        <tr>
            <!---<th scope="row" style="text-align: center;">2</th>--->
            <td style="text-align: center;">None</td>
            <td style="text-align: justify;">continue</td>
            <td style="text-align: justify;">for</td>
            <td style="text-align: justify;">lambda</td>
            <td style="text-align: justify;">try</td>
        </tr>
            <tr>
                <!---<th scope="row" style="text-align: center;">3</th>--->
                <td style="text-align: center;">True</td>
                <td style="text-align: justify;">def</td>
                <td style="text-align: justify;">from</td>
                <td style="text-align: justify;">nonlocal</td>
                <td style="text-align: justify;">while</td>
            </tr>
                <tr>
                    <!---<th scope="row" style="text-align: center;">4</th>--->
                    <td style="text-align: center;">and</td>
                    <td style="text-align: justify;">del</td>
                    <td style="text-align: justify;">global</td>
                    <td style="text-align: justify;">not</td>
                    <td style="text-align: justify;">with</td>
                </tr>
                    <tr>
                        <!---<th scope="row" style="text-align: center;">5</th>--->
                        <td style="text-align: center;">as</td>
                        <td style="text-align: justify;">elif</td>
                        <td style="text-align: justify;">if</td>
                        <td style="text-align: justify;">or</td>
                        <td style="text-align: justify;">yeld</td>
                    </tr>
                        <tr>
                            <!---<th scope="row" style="text-align: center;">6</th>--->
                            <td style="text-align: center;">assert</td>
                            <td style="text-align: justify;">else</td>
                            <td style="text-align: justify;">import</td>
                            <td style="text-align: justify;">pass</td>
                        </tr>
                            <tr>
                                <!---<th scope="row" style="text-align: center;">7</th>--->
                                <td style="text-align: center;">break</td>
                                <td style="text-align: justify;">except</td>
                                <td style="text-align: justify;">in</td>
                                <td style="text-align: justify;">raise</td>
                            </tr>
</tbody>
</table>

Você pode ver essa lista a qualquer momento digitando `help("keywords")` no interpretador Python ou no jupyter notebook ou em uma IDE. As palavras reservadas diferenciam `maiúsculas` de `minúsculas` e devem ser usadas exatamente como mostrado. Elas são todas escritas em letras minúsculas, exceto `False, None, e True`.
Tentar criar uma variável com o mesmo nome de qualquer palavra reservada resulta em um erro:

In [ ]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

In [ ]:
help('keywords')

## Variáveis atribuídas a outras variáveis em Python

In [ ]:
largura = 2

In [ ]:
altura = 4

In [ ]:
area = largura * altura

In [ ]:
area

In [ ]:
perimetro = 2 * largura + 2 * altura

In [ ]:
perimetro

## Ordem dos operadores em Python

In [ ]:
# A ordem dos operadores é a mesma seguida na Matemática que aprendemos na escola
perimetro = 2 * (largura + 2)  * altura

In [ ]:
perimetro

## As operações com variáveis em Python

In [ ]:
valor1 = 45

In [ ]:
valor2 = 75

In [ ]:
valor1 + valor2

In [ ]:
valor2 - valor1

In [ ]:
valor2 * valor1

In [ ]:
valor2 / valor1

In [ ]:
valor2 % valor1

## Concatenação de Variáveis em Python

In [ ]:
nome = "BB"

In [ ]:
sobrenome = "8"

In [ ]:
nome_completo = nome + " " + sobrenome

In [ ]:
nome_completo

Conclusão
========
Esta etapa do nosso estudo abrangeu as noções básicas de variáveis do Python, incluindo referências e identidade de objetos, e nomeação de identificadores do Python.
Agora temos uma boa compreensão de alguns tipos de dados do Python, e em consequência, aprendemos como criar variáveis que referenciam objetos desses tipos aprendidos.

### Obrigado e bons estudos