# <font color='green'>Jonatã Paulino - Python Fácil</font>
<img src='pimagem5t.png' alt=Jonatã Paulino size=10x10 width=90 height=90 align='left'>

6- Operadores e Expressões em Python
===============================
+ __Índice__
+ 6.1 Operadores aritméticos
+ 6.2 Operadores de Comparação
    + 6.2.1 Comparação de igualdade em valores de ponto flutuante
+ 6.3 Operadores lógicos
+ Conclusão

Neste notebook veremos como os cálculos podem ser realizados com objetos no Python, e assim aprenderemos como criar expressões complexas combinando `objetos e operadores`.
No Python, os operadores são símbolos especiais que designam que algum tipo de cálculo deve ser executado. Os valores que um operador atua são chamados operandos.

__Vejamos ver alguns exemplos:__

In [ ]:
# O operador de + faz a soma dos operandos x e y.
x = 5
y = 10
x + y

No caso a cima, o operador `+` faz uma operação de adição com os operandos `x` e `y`.

Um operando pode ser um valor literal ou uma variável que faz referência a um objeto.

__Exemplos:__

In [ ]:
x = 5
y = 10
x + y - 5

Uma sequência de operandos e operadores, como `x + y - 5`, é chamada de `expressão`. O Python suporta muitos operadores para combinar objetos e dados em `expressões`. Atente para a seguinte tabela:

6.1 Operadores aritiméticos
======================

<!---
|Operador|exemplo|Operação|Resultado|
|:----:|:----:|:----:|:----:|
|+|a + b |Soma|Soma de a e b|
|- |a - b |Subtração|Subtração de a e b|
|\* |a * b |Multiplicação|Produtode a e b|
| / |a / b| Divisão(real ou inteira)|Quociente|
|// |a // b| Divisão integral |Divisão inteira
| % |a % b | Módulo |Resto da divisão inteira|
| \*\* | a ** b | Exponênciação| a elevado a b|
--->

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">Operador</th>
        <th scope="col" style="text-align: center;">Exemplo</th>
        <th scope="col" style="text-align: center;">Operação</th>
        <th scope="col" style="text-align: center;">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <th scope="row" style="text-align: center;">1</th>
            <td style="text-align: center;">+</td>
            <td style="text-align: center;">a + b</td>
            <td style="text-align: center;">Soma</td>
            <td style="text-align: center;">Soma entre a e b</td>
        </tr>
            <tr>
                <th scope="row" style="text-align: center;">2</th>
                <td style="text-align: center;">-</td>
                <td style="text-align: center;">a - b</td>
                <td style="text-align: center;">Subtração</td>
                <td style="text-align: center;">Subtração entre a e b</td>
            </tr>
                <tr>
                    <th scope="row" style="text-align: center;">3</th>
                    <td style="text-align: center;">*</td>
                    <td style="text-align: center;">a * b</td>
                    <td style="text-align: center;">Multiplicação</td>
                    <td style="text-align: center;">Produto entre a e b</td>
                </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">4</th>
                        <td style="text-align: center;">/</td>
                        <td style="text-align: center;">a / b</td>
                        <td style="text-align: center;">Divisão real ou inteira</td>
                        <td style="text-align: center;">Quociente</td>
                    </tr>
                        <tr>
                        <th scope="row" style="text-align: center;">5</th>
                            <td style="text-align: center;">//</td>
                            <td style="text-align: center;">a // b</td>
                            <td style="text-align: center;">Divisão integral</td>
                            <td style="text-align: center;">Divisão inteira</td>
                        </tr>
                            <tr>
                                <th scope="row" style="text-align: center;">6</th>
                                <td style="text-align: center;">%</td>
                                <td style="text-align: center;">a % b</td>
                                <td style="text-align: center;">Modulo</td>
                                <td style="text-align: center;">Resto da divisão inteira</td>
                            </tr>
                                <tr>
                                <th scope="row" style="text-align: center;">7</th>
                                    <td style="text-align: center;">**</td>
                                    <td style="text-align: center;">a ** b</td>
                                    <td style="text-align: center;">Exponênciação</td>
                                    <td style="text-align: center;">a elevado a b</td>
                                </tr>
</tbody>
</table>

<hr><hr>

__Exemplos:__

In [ ]:
a = 7
b = 6

In [ ]:
+ a

In [ ]:
- b

In [ ]:
a + b

In [ ]:
a - b

In [ ]:
a * b

In [ ]:
a / b

In [ ]:
a // b

In [ ]:
a % b

In [ ]:
a ** b

O resultado da divisão padrão `(/)` é sempre um float, mesmo se o dividendo for divisível pelo divisor:

In [ ]:
10 / 5

In [ ]:
type(10 / 5)

Quando o resultado da divisão `(//)` é positivo, é como se a parte fracionária estivesse truncada, deixando apenas a parte inteira. Quando o resultado é negativo, o resultado é arredondado para o próximo número inteiro menor:

In [ ]:
10 / 4

In [ ]:
10 // 4

In [ ]:
10 // -4

In [ ]:
-10 // 4

In [ ]:
-10 // -4

6.2 Operadores de Comparação
=========================

<!---
|Operador|exemplo|Operação|Resultado|
|:----:|:----:|:----:|:----:|
|==|a == b |Igua a|True: se o valor de a for igual ao valor de b|
|!= |a != b |Não é igual a|True: se o valor de a não for igual ao valor de b|
|< |a < b |Menor que|True: se o valor de a for menor que o valor de b|
|<= |a <= b| Menor ou igual a|True: se o valor de a for menor ou igual ao valor de b|
|> |a > b| Maior que |True: se o valor de a for maior que o valor de b|
| >= |a >= b | Maior ou igual a |True: se o valor de a for maior ou igual ao valor de b|
--->

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">Operador</th>
        <th scope="col" style="text-align: center;">Exemplo</th>
        <th scope="col" style="text-align: center;">Operação</th>
        <th scope="col" style="text-align: center;">Resultado</th>
    </tr>
  </thead>
  <tbody>
        <tr>
            <th scope="row" style="text-align: center;">1</th>
            <td style="text-align: center;">==</td>
            <td style="text-align: center;">a == b</td>
            <td style="text-align: center;">igual a</td>
            <td style="text-align: left;"><b>True:</b> se o valor de a for igual ao valor de b</td>
        </tr>
            <tr>
                <th scope="row" style="text-align: center;">2</th>
                <td style="text-align: center;">!=</td>
                <td style="text-align: center;">a != b</td>
                <td style="text-align: center;">Não é igual a</td>
                <td style="text-align: left;"><b>True:</b> se o valor de a não for igual ao valor de b</td>
            </tr>
                <tr>
                    <th scope="row" style="text-align: center;">3</th>
                    <td style="text-align: center;"><</td>
                    <td style="text-align: center;">a < b</td>
                    <td style="text-align: center;">Menor que</td>
                    <td style="text-align: left;"><b>True:</b> se o valor de a for menor que o valor de b</td>
                </tr> 
                    <tr>
                        <th scope="row" style="text-align: center;">4</th>
                        <td style="text-align: center;"><=</td>
                        <td style="text-align: center;">a <= b</td>
                        <td style="text-align: center;">Menor ou igual a</td>
                        <td style="text-align: left;"><b>True:</b> se o valor de a for menor ou igual ao valor de b</td>
                    </tr>
                        <tr>
                            <th scope="row" style="text-align: center;">5</th>
                            <td style="text-align: center;">></td>
                            <td style="text-align: center;">a > b</td>
                            <td style="text-align: center;">Maior que</td>
                            <td style="text-align: left;"><b>True:</b> se o valor de a for maior que o valor de b</td>
                        </tr>
                            <tr>
                                <th scope="row" style="text-align: center;">6</th>
                                <td style="text-align: center;">>=</td>
                                <td style="text-align: center;">a >= b</td>
                                <td style="text-align: center;">Maior ou igual a</td>
                                <td style="text-align: left;"><b>True:</b> se o valor de a for maior ou igual ao valor de b</td>
                            </tr>

</tbody>
</table>

<hr><hr>

__Exemplos de operadores de comparação:__

In [1]:
a = 10
b = 30

In [2]:
a == b

False

In [3]:
a != b

True

In [4]:
a < b

True

In [5]:
a <= b

True

In [6]:
a > b

False

In [7]:
a >= b

False

In [9]:
a = 20
b = 20

In [10]:
a == b

True

In [11]:
a <= b

True

In [12]:
a >= b

True

>__Nota:__ Os operadores de comparação geralmente são usados em contextos `booleanos`, como instruções condicionais e de loop, para direcionar o fluxo do programa, como veremos mais adiante em nossos estudos.

##  6.2.1 Comparação de igualdade em valores de ponto flutuante

## <font color='red'>**ATENÇÃO!!!**</font>

In [18]:
x = 1.1 + 2.2

In [19]:
x

3.3000000000000003

In [20]:
x == 3.3

False

In [21]:
tolerancia  =  0.00001
x  =  1.1  +  2.2 
abs (x - 3.3) < tolerancia

True

6.3 Operadores lógicos em Python
===========================
Os operadores lógicos `not`, `or` e `and`, tem a função de modificar e unir expressões avaliadas no contexto booleano para criar condições mais complexas dentro de nossos códigos.

As expressões Lógicas com Operandos Booleanos, como vimos anteriormente, são usadas com objetos e expressões no Python do tipo `booleano`, ou seja, eles são iguais a os objetos do Python `True` ou `False`. Vamos considerar alguns exemplos logo abaixo:

In [22]:
x = 5
x < 10

True

In [23]:
type(x < 10)

bool

In [24]:
t = x > 10

In [25]:
t

False

In [26]:
type(t)

bool

In [27]:
callable(x)

False

In [29]:
type(callable(x))

bool

<hr><hr>

<!---
| Operador | Exemplo | Significado|
| :------: | :-----: | :---------: |
|not       | not x   | True: se x é False, False se x é True |
|or        | x or Y  | True: se x ou y forem True, False de outra forma |
|and       | x and y | True: se ambos x e y forem True, False de outra forma |
--->

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col"style style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">Operador</th>
        <th scope="col" style="text-align: center;">Exemplo</th>
        <th scope="col" style="text-align: center;">Significado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <th scope="row" style="text-align: center;">1</th>
            <td style="text-align: center;">not</td>
            <td style="text-align: center;">not x</td>
            <td style="text-align: left;"><b>True:</b> se x é False, False se x é True</td>
        </tr>
            <tr>
                <th scope="row" style="text-align: center;">2</th>
                <td style="text-align: center;">or</td>
                <td style="text-align: center;">x or Y</td>
                <td style="text-align: left;"><b>True:</b> se x ou y forem True, False de outra forma</td>
            </tr>
                <tr>
                    <th scope="row" style="text-align: center;">3</th>
                    <td style="text-align: center;">and</td>
                    <td style="text-align: center;">x and y</td>
                    <td style="text-align: left;"><b>True:</b> se ambos x e y forem True, False de outra forma</td>
                </tr>    
</tbody>
</table>

### Funcionamento na prática

#### Operado `not`

In [36]:
x = 5
not x < 10

False

In [33]:
callable(x)

False

In [34]:
not callable(x)

True

<!---
| Operando | Valor | Expressão lógica | Valor |
|:-------: |:-----:|:---------------: | :----:|
|x < 10    | True    |not x < 10| False|
|callable(x)| False  |not callable(x) |True|
--->

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">Operando</th>
        <th scope="col" style="text-align: center;">Valor</th>
        <th scope="col" style="text-align: center;">Expressão lógica</th>
        <th scope="col" style="text-align: center;">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row" style="text-align: center;">1</th>
        <td style="text-align: center;">x < 10</td>
        <td style="text-align: center;">True</td>
        <td style="text-align: center;">not x < 10</td>
        <td style="text-align: center;"><b>False</b></td>
        </tr>
            <tr>
                <th scope="row" style="text-align: center;">2</th>
                <td style="text-align: center;">callable(x)</td>
                <td style="text-align: center;">False</td>
                <td style="text-align: center;">not callable(x)</td>
                <td style="text-align: center;"><b>True</b></td>
            </tr>  
</tbody>
</table>

<hr><hr>

#### Operado `or`

In [37]:
x = 5 
x < 10 or callable(x)

True

In [38]:
x < 0 or callable(x)

False

<hr><hr>

<!---
| Operando | Valor   | Operando | Valor | Expressão lógica | Valor |
|------: | :-----: | :------: | :----:| :--------------: |:-----:|
|x < 10    | True    |callable(x) |False |x < 10 or callable(x)|True |
|x < 0     | False   |callable(x) |False |x < 0 or callable(x) |False|
--->

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">Operando</th>
        <th scope="col" style="text-align: center;">Valor</th>
        <th scope="col" style="text-align: center;">Operando</th>
        <th scope="col" style="text-align: center;">Valor</th>
        <th scope="col" style="text-align: center;">Expressão lógica</th>
        <th scope="col" style="text-align: center;">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <th scope="row" style="text-align: center;">1</th>
            <td style="text-align: center;">x < 10</td>
            <td style="text-align: center;">True</td>
            <td style="text-align: center;">callable(x)</td>
            <td style="text-align: center;">False</td>
            <td style="text-align: center;">x < 10 or callable(x)</td>
            <td style="text-align: center;"><b>True</b></td>
    </tr>
        <tr>
            <th scope="row" style="text-align: center;">2</th>
            <td style="text-align: center;">x < 0</td>
            <td style="text-align: center;">False</td>
            <td style="text-align: center;">callable(x)</td>
            <td style="text-align: center;">False</td>
            <td style="text-align: center;">x < 0 or callable(x)</td>
            <td style="text-align: center;"><b>False</b></td>
        </tr>  
</tbody>
</table>

<hr><hr>

#### Operado `and`

In [41]:
x  =  5 
x < 10 and callable(x)

False

In [42]:
10 and callable(len)

True

<!---
| Operando | Valor   | Operando | Valor | Expressão lógica | Valor |
|------: | :-----: | :------: | :----:| :--------------: |:-----:|
|x < 10    | True    |callable(x) |False |x < 10 and callable(x)|False |
|x < 10    | True    |callable(len)|True |x < 10 or callable(len) |True|
--->

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">Operando</th>
        <th scope="col" style="text-align: center;">Valor</th>
        <th scope="col" style="text-align: center;">Operando</th>
        <th scope="col" style="text-align: center;">Valor</th>
        <th scope="col" style="text-align: center;">Expressão lógica</th>
        <th scope="col" style="text-align: center;">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <th scope="row" style="text-align: center;">1</th>
            <td style="text-align: center;">x < 10</td>
            <td style="text-align: center;">True</td>
            <td style="text-align: center;">callable(x)</td>
            <td style="text-align: center;">False</td>
            <td style="text-align: center;">x < 10 and callable(x)</td>
            <td style="text-align: center;">False</td>
    </tr>
        <tr>
            <th scope="row" style="text-align: center;">2</th>
            <td style="text-align: center;">x < 10</td>
            <td style="text-align: center;">True</td>
            <td style="text-align: center;">callable(len)</td>
            <td style="text-align: center;">True</td>
            <td style="text-align: center;">x < 10 or callable(len)</td>
            <td style="text-align: center;">Ttrue</td>
        </tr>  
</tbody>
</table>

Conclusão
========
Aqui aprendemos sobre os diversos operadores que o Python suporta para combinar objetos em expressões. Desafio a você a pesquisar alguns outros que não fizeram parte desse escopo, pois assim, você aprenderá com o esforço da sua própria pesquisa.
O próximo notebook irá explorar objetos de string com detalhes.

### Obrigado e bons estudos